<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2"
  IgnorableNamespaces="uap mp uap3 uap6 iot uap4 uap2">

  <Identity
    Name="a55451db-be1f-4ec1-9a3d-7977fc58dc41"
    Publisher="CN=27500ce1-6d69-4dec-8727-9c17ce5f2144"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="ec0cc741-fd3e-485c-81be-68815c480690" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>AsyncSocketServer.UWP</DisplayName>
    <PublisherDisplayName>27500ce1-6d69-4dec-8727-9c17ce5f2144</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="AsyncSocketServer.UWP.App">
      <uap:VisualElements
        DisplayName="AsyncSocketServer.UWP"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="AsyncSocketServer.UWP"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="privateNetworkClientServer"/>
    <Capability Name="allJoyn"/>
    <uap:Capability Name="appointments"/>
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <uap:Capability Name="blockedChatMessages"/>
    <uap:Capability Name="chat"/>
    <Capability Name="codeGeneration"/>
    <uap:Capability Name="contacts"/>
    <uap:Capability Name="enterpriseAuthentication"/>
    <uap6:Capability Name="graphicsCapture"/>
    <Capability Name="internetClientServer"/>
    <Capability Name="internetClient"/>
    <iot:Capability Name="lowLevelDevices"/>
    <uap:Capability Name="musicLibrary"/>
    <uap:Capability Name="objects3D"/>
    <uap4:Capability Name="offlineMapsManagement"/>
    <uap:Capability Name="phoneCall"/>
    <uap2:Capability Name="phoneCallHistoryPublic"/>
    <uap:Capability Name="picturesLibrary"/>
    <uap3:Capability Name="remoteSystem"/>
    <uap:Capability Name="removableStorage"/>
    <uap:Capability Name="sharedUserCertificates"/>
    <uap2:Capability Name="spatialPerception"/>
    <iot:Capability Name="systemManagement"/>
    <uap:Capability Name="userAccountInformation"/>
    <uap4:Capability Name="userDataTasks"/>
    <uap3:Capability Name="userNotificationListener"/>
    <uap:Capability Name="videosLibrary"/>
    <uap:Capability Name="voipCall"/>
    <DeviceCapability Name="bluetooth"/>
    <DeviceCapability Name="gazeInput"/>
    <DeviceCapability Name="location"/>
    <DeviceCapability Name="lowLevel"/>
    <DeviceCapability Name="microphone"/>
    <DeviceCapability Name="pointOfService"/>
    <DeviceCapability Name="proximity"/>
    <DeviceCapability Name="webcam"/>
  </Capabilities>
</Package>